{%extends 'connect/base.html'%}

{% block main %}



{% block extra_style %}
    <style type="text/css">
        @font-face { font-family: Lato; src: url(fonts/Lato-Reg.ttf); }
        body {
            font-family: "Lato", "Helvetica", "sans-serif";
            color: #333333;
        }
    </style>
{% endblock %}

    <button class="btn-primary btn pull-left"  data-target="#book-request-form" data-toggle="modal">Can't find your Book ?</button>

<form id="searchform" action="" method="post" accept-charset="utf-8" class='pull-right'>   
        {%csrf_token%}   
      <input class="searchfield" name="q" type="text" style='width:200px;' placeholder="Search for a Book">
      <button type='submit' class="glyphicon glyphicon-search " style='border-color:transparent;background:transparent;'></button>
</form>

<div id="book-request-form" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title"  style='overflow-x:hidden;text-overflow:ellipsis;'>Request for a new book here</h4>
      </div>
      <div class="modal-body clearfix">
          <div style="display:none;text-align:center;" class="text-info" id="book-request-success">Your have requested the book successfully.</div>

            <div class="form-group">
                <label for="user-content">Title</label>
                <textarea  id="book-request-title" class="form-control" name="address" maxlength="200" style="resize:none;height:100px;" placeholder="<Book> <Edition> by <Author> " required></textarea>
            </div>
            <input id="request-book-now" type="submit" class="btn btn-primary pull-right"  value='Request Now!'>
      </div>

    </div>

  </div>
</div>




<div id="book-order-form" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title" id='current-book-name' style='overflow-x:hidden;text-overflow:ellipsis;'>Book Name</h4>
      </div>
      <div class="modal-body clearfix">
        <form action="{% url 'my_book_orders' %}" role="form" method="post">
        {% csrf_token %}
        <input id='current-book-no' name='book_id' type='text' value="" style='display:none;'>
            <div class="form-group">
                <label >Number Of Copies: </label>
                <input type='number' name='nos' class='form-control' min="1" max="100" value=1 required/>
            </div>

            <div class="form-group">
                <label >Phone</label>
                <input type="text"  placeholder="Phone"  class="form-control" name="phone" maxlength="10" style="resize:none;" required/>
            </div>
          
            <div class="form-group">
                <label for="user-content">Name and Address</label>
                <textarea  id="user-content" class="form-control" name="address" maxlength="250" style="resize:none;height:100px;" placeholder="Enter your address here" required></textarea>
            </div>
            <input type="submit" class="btn btn-primary pull-right" value='Order Now'>
        </form>
      </div>

    </div>

  </div>
</div>

<div class="container-fluid" style="margin-top:40px;">
  
  {% if books %}
  <ul class='list-group'>
  {% for x in books %}
    <li class='list-group-item' style='height:4em;'>
    <span class='panel-title'>{{x.title}}</span>
    <button class="btn btn-success pull-right" onclick="orderBook('{{x.title}}', {{x.id}})">Order Now</button>
    </li>
    {%endfor%}
    </ul>    
    {% else %}
    <div class="panel-group feed-panel-group">
    <div class="panel panel-default">
        <div class="panel-heading "><span class="text-info text-justify">Nothing to display.</span></div>
    </div>
    </div>
    {% endif %}
</div>

{% endblock %}

{% block scripts %}
<script>
function orderBook(name, no){
    $("#current-book-no").val(no)
    $("#current-book-name").text(name)
   $("#book-order-form").modal('show')
}

$("#request-book-now").click(function(event){
    var title = $('#book-request-title').val()
    if(title.length > 0){
         $.ajax({
            type: "POST",
            url: "{% url 'book_request_view' %}",
            data: {'title':title},
            dataType: "json",
            beforeSend: function(xhr){
                xhr.setRequestHeader("X-CSRFToken", "{{ csrf_token }}");
    },
             success: function(data){
                 $("#book-request-success").fadeIn().delay(1000).fadeOut()
     }
})
    }
})
</script>
{% endblock scripts %}